* {
  box-sizing: border-box;
}

#particles-js{
  background: #0B243B;
  height: 100vh;
}

 .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .intro-text {
  position: absolute;
  top: 40%;
  color: white;
  font-size: 3rem;
 }

 .highlight {
  color: #E31B6D;
}

.intro-button {
	position: absolute;
	top:60%;
	height: 50px;
	width: 200px;
	background-color: transparent;
	font-size: 1.5rem;
	border: 2px solid white;
	transition: all 0.5s;
  cursor: pointer;
}

.intro-button a {
	text-decoration: none;
	color: white;
}

.intro-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.intro-button span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.intro-button:hover {
	background-color: #01A9DB;
	border-color: #01A9DB;
}

.intro-button:hover span {
  padding-right: 25px;
  
}
.intro-button:hover span:after {
  opacity: 1;
  right: 0;
}
.intro-button:focus {
	outline:0;
}

/* Navbar style */

#navbar {
  z-index: 1;
  overflow: hidden;
  background-color: #1B242F;
  border-bottom: 3px solid #01A9DB;
  height: 8%;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  color: #E31B6D;
}

#navbar a.active {
  color: #E31B6D;
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

section {
  width: 100%;
  max-width: none;
  height: 100vh;
  padding-top: 8%; 
}

.content {
  text-align: center;
}
@media screen and (max-width: 525px) {
  .intro-text {
    top: 40%;
    font-size: 2rem;
   }
   section {
    padding-top: 16%;
  }
  h1 {
    font-size: 1.5em !important;
  }

}

@media screen and (min-width: 321px) {
  #navbar a {
    font-size: 19px;
  }
}